[submodule "server/cpp/depend/cpp-httplib"]
	path = server/cpp/depend/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "server/cpp/depend/websocketpp"]
	path = server/cpp/depend/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "server/cpp/depend/json"]
	path = server/cpp/depend/json
	url = https://github.com/nlohmann/json.git
[submodule "server/cpp/depend/msdfgen"]
	path = server/cpp/depend/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
