[submodule "server/cpp/depend/json"]
	path = server/depend/json
	url = https://github.com/nlohmann/json.git
[submodule "server/cpp/depend/msdfgen"]
	path = server/depend/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "server/depend/uWebSockets/src"]
	path = server/depend/uWebSockets/src
	url = https://github.com/uNetworking/uWebSockets.git
