body {
  margin: 0px;
  background-color: rgb(51, 51, 51);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14pt;
}

#canvas {
 float: left;
 padding-top: 48px;
 outline-width: 0 !important;
}

#toolbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 4px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 2px solid black;
}

#button-clear-tokens {
  float: right;
  margin-right: 20px;
}

#button-clear-doodads {
  float: right;
}

#right-bar {
  float: right;
  height: 100%;
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: -3px 0px 5px black; 
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  right: 0px;
}

#chat-area {
  display: flex;
  flex-direction: column;
}

#chat-text {
  flex-grow: 1;
  overflow-y: auto;
}

#chat-text * {
  overflow-anchor: none;
}

#chat-text::after {
 content: '';
 display: block;
 overflow-anchor: auto;
 height: 1px;
}

input {
  background-color: rgb(100, 100, 100);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

button {
  background-color: rgb(100, 100, 100);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
  padding-right: 20px;
  padding-left: 20px;
}

#chat-input {
  margin-bottom: 5px;
}

#username-popup {
  color: white;
  padding: 10px;
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  box-shadow: 0px 0px 5px black; 
  position: absolute;
  width: 400px; 
  height: 100px; 
  margin-left: -200px;
  margin-top: -50px;
  left: 50%;
  top: 50%;
}


#username-popup input {
  margin-right: 10px;
  margin-top: 15px;
}

/** Image radio buttons: https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons*/
/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  left: -100%;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
  margin-right: 10px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 1000px;
}
