body {
  margin: 0px;
 background-color: rgb(51, 51, 51);
}

#canvas {
 float: left;
}

#right-bar {
  float: right;
  height: 100%;
  background-color: rgb(51, 51, 51);
  color: white;
  box-shadow: -3px 0px 5px black; 
  padding-left: 10px;
  padding-right: 10px;
}

#chat-area {
  display: flex;
  flex-direction: column;
}

#chat-text {
  flex-grow: 1;
}

input {
  background-color: rgb(100, 100, 100);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
}

button {
  background-color: rgb(100, 100, 100);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 3px;
  padding-right: 20px;
  padding-left: 20px;
}

#chat-input {
  margin-bottom: 5px;
}

#username-popup {
  color: white;
  padding: 10px;
  background-color: rgb(51, 51, 51);
  border-radius: 5px;
  box-shadow: 0px 0px 5px black; 
  position: absolute;
  width: 400px; 
  height: 100px; 
  margin-left: -200px;
  margin-top: -50px;
  left: 50%;
  top: 50%;
}


#username-popup input {
  margin-right: 10px;
  margin-top: 15px;
}
