name: CI-client

on: 
  push:
    paths:
      - 'client/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run:  |
        cd client/vue/penandpaper/
        npm install
        cp -r node_module_patches/* node_modules/
        npm run-script build

      
      
